<h2>Artist Information</h2>
<table>
    <tr>
        <td>Artist Name: </td>
        <td>@ViewBag.ArtistName</td>
    </tr>
    <tr>
        <td>MBID: </td>
        <td>@ViewBag.ArtistMBID</td>
    </tr>
    <tr>
        <td>Listeners: </td>
        <td>@ViewBag.ArtistListeners</td>
    </tr>
    <tr>
        <td>Playcount: </td>
        <td>@ViewBag.ArtistPlaycount</td>
    </tr>
    <tr>
        <td>URL: </td>
        <td>@ViewBag.ArtistURL</td>
    </tr>
    <tr>
        <td>Tags: </td>
        <td>@ViewBag.ArtistTags</td>
    </tr>
    <tr>
        <td>Artist Biography Summary: </td>
        <td>@ViewBag.ArtistBIO</td>
    </tr>
    <tr>
        <td>Artist Biography Content: </td>
        <td>@ViewBag.ArtistBioContent</td>
    </tr>
</table>