<div id="playercontent" class="text_center">
    
    <div id="artistsearchtop" class="aligned_left">
        <h2>@ViewBag.ArtistName</h2>
        <p>Listeners   |  @ViewBag.ArtistListeners</p>
        <p>Playcount  |  @ViewBag.ArtistPlaycount</p>
        <p>URL           |  @ViewBag.ArtistURL</p>
        <p>
        </p>
        <p>Tags          |  @ViewBag.ArtistTags</p>
        <p>Artist Biography Summary  |  @ViewBag.ArtistBIO</p>
    </div>  
    

    <div id="allartistalbums" class="aligned_left">
        <h4>Albums</h4>
        <hr style="border: 1px solid grey">
        
        
        <p>@ViewBag.AlbumPlaycounts</p>
        <table class="albumtable">
                <tr>
                    <th>Album Cover</th>
                    <th>TITLE</th>
                    <th>Playcount</th>
                </tr>
    @{
    @foreach(var album in ViewBag.artist.Albums)
    {
        <tr>
            <td><img src="@album.AlbumImage"></td>
            <td>@album.AlbumName</td>
            <td>@album.AlbumPlaycount</td>
        </tr>
    }
    }
        </table>
        <br>
        <hr class="hrsmallbreak">
        <br>
        </div>
</div>