<p>Album Name: @ViewBag.SingleAlbum.AlbumName</p>
<p>Artist: @ViewBag.SingleAlbum.AlbumArtist</p>
<p>Listeners: @ViewBag.SingleAlbum.AlbumListeners</p>
<p>Playcount: @ViewBag.SingleAlbum.AlbumPlaycount</p>
<p><img src="@ViewBag.MedImage"></p>

<table class="albumtable">
    <tbody>
    <tr style="text-align: center">
        <th>#</th>
        <th>TITLE</th>
        <th>Time</th>
        <th>Playcount</th>
    </tr>
@{
    @foreach(var track in ViewBag.album.AlbumTracks)
    {
    <tr>
        <td>@track.TrackRank</td>
        <td><a href="@track.TrackURL">@track.TrackName</a></td>
        <td>@track.TrackDuration</td>
        <td>@track.TrackPlaycount</td>
    </tr>
    }
    }
    </tbody>
</table>