<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/can@4/dist/global/can.all.js"></script>
    <script src="~/js/script.js"></script>
    <link rel="stylesheet" href="~/css/style.css">
    <title>Spookify Webplayer</title>
  </head>
  <body>
    <div id="wrapper">

      <div id="webplayernav" class="nav-fill navbar-transparent white-pill" role="tablist" aria-orientation="vertical">
        <ul class="nav nav-pills">
          <a href="/"><img src="~/img/spookify2.png" alt="spookify logo" class="nav-link navbar-brand d-inline-block align-top" width="180" height="120"></a>
          <li class="nav-item">
          <a  class="nav-link" data-toggle="pill" href="#search">Search <i class="material-icons">search</i></a>
          </li>
          <hr>
          <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#webhome">Home <i class="material-icons">home</i></a>
          </li>
          <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#yourmusic">Your Music <i class="material-icons">music_note</i></a>
          </li>
          <hr>
          <p class="recently">Recently Played <i class="material-icons">queue_music</i></p>
          <div>
            <ul id="recently">

            </ul>
          </div>
        </ul>

      </div>
      <a id="user" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

          <img src="~/img/small.png" height="50px" width="30px">
          <span>@ViewBag.User.Username</span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Account</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>


        <div id="v-pills-playercontent" class="tab-content">
          <!-- Home Page -->
          <div class="tab-pane active container" id="webhome">
              <h2 class="text-center sticky-top col-11" style="background-color:black">Top Tracks</h2>

            @foreach(var Track in @ViewBag.GlobalTracks)
            {
            <div class="toptrack col-4">
              <img src="@Track.TrackImage" alt="track_image">
              <h4>@Track.TrackName</h4>
              by: <h5>@Track.ArtistName</h5>
              <p># of Listeners: @Track.TrackListeners</p>
              <p>Playcount: @Track.TrackPlaycount</p>
              <p>URL:  <a href="@Track.TrackURL">Track Page</a></p>
              <form action="AddPlaylistTrack" action="POST">

                <button class="btn btn-primary">Add Track</button>
              </form>
            </div>
            }
          </div>
          <!-- Search Page -->
          <div class="tab-pane container" id="search">
            <h1>Search</h1>
            <input id="ajax_search" class="form-control mr-sm-2 bg-dark" type="search" placeholder="Search Here!" aria-label="Search" name="search" value="" autocomplete="off">
            <div class="row" id="resultrow">
              <div class="col-4">
                <div id="searchres">
                </div>
              </div>
              <div class="col-4">
                <div id="searchres2">
                </div>
              </div>
              <div class="col-4">
                <div id="searchres3">
                </div>
              </div>
            </div>
          </div>
          <!-- Your Music Page -->
        <div class="tab-pane container" id="yourmusic">
           <table class="table">
            <tr>
                <th>Playlist Image</th>
                <th>Playlist Name</th>
                <th>Playlist Description</th>
                <th>Playlist Tracks</th>

            </tr>


            <tr>
                <td><img src="@ViewBag.onePlaylist.PlaylistImage" alt="playlist image" height="200px" width="250"/></td>
                <td>@ViewBag.onePlaylist.PlaylistName</td>
                <td>@ViewBag.onePlaylist.PlaylistDescription</td>

                <td>

                <table>
                    <tr>
                        <th>Artist</th>
                        <th>Track</th>
                    </tr>
                    @foreach(var track in ViewBag.onePlaylist.PlaylistTracks)
                    {
                        <tr>
                            <td>@track.Track.ArtistName</td>
                            <td>@track.Track.TrackName</td>
                        </tr>
                    }
                </table>

            </tr>
        </table>
        </div>
        </div>

          <audio-player class="fixed-bottom webplayer"></audio-player>

            <!-- <div class="btn-group">
                <button onclick="Play('music.mp3','audio');" class="btn btn-custom"><span title="Play" id="play" class="glyphicon icon-play aligned"><i class="material-icons">play_circle_outline</i></span></button>
                <button onclick="Stop('music.mp3','audio');" class="btn btn-custom"><span title="Stop" id="stop" class="glyphicon glyphicon-stop aligned"><i class="material-icons">stop</i></span></button>
                <button onclick="Restart('music.mp3','audio');" class="btn btn-custom"><span title="Restart" id="restart" class="glyphicon glyphicon-step-backward aligned"><i class="material-icons">skip_previous</i></span></button>
                <button onclick="Backward5('music.mp3','audio');" class="btn btn-custom"><span title="-5 seconds" id="backward" class="glyphicon glyphicon-fast-backward aligned"><i class="material-icons">fast_rewind</i></span></button>
                <button onclick="Forward5('music.mp3','audio');" class="btn btn-custom"><span title="+5 seconds" id="forward" class="glyphicon glyphicon-fast-forward aligned"><i class="material-icons">fast_forward</i></span></button>
                <button onclick="VolumeUp('music.mp3','audio');" class="btn btn-custom"><span title="Volume Up" id="volumeup" class="glyphicon glyphicon-plus aligned"><i class="material-icons">volume_up</i></span></button>
                <button onclick="VolumeDown('music.mp3','audio');" class="btn btn-custom"><span title="Volume Down" id="volumedown" class="glyphicon glyphicon-minus aligned"><i class="material-icons">volume_down</i></span></button>
            </div> -->
      <h4 id="trackname"></h4>
    </div>


  </body>
  <script>
    $(document).on('click','a.track',function(event){
      event.preventDefault()
      $('#trackname').html('')
      var name = $(this)[0].children[1].innerHTML
      var artist = $(this)[0].children[2].innerHTML
      $('#trackname').html(name)
      $('#recently').prepend("<li class='recent_track'><a href='' class='track'><span></span><span>"+name+"</span><span>"+ artist+"</span></a></li>")
    })
    $('#ajax_search').keyup(function(e){
      var SearchQuery = $('#ajax_search').val();
      $('#searchres').html("")
      $('#searchres2').html("")
      $('#searchres3').html("")
      $.ajax({
        // AJAX for Artist search
        url: "http://ws.audioscrobbler.com/2.0/?method=artist.search&artist=" + SearchQuery + "&api_key=278be908abb6863ead7c33ceb7899607&format=json",
        method: 'GET',
        success: function (serverResponse) {
          var realres = serverResponse["results"]["artistmatches"]["artist"]
          if(realres.length>0){
              $('#searchres').append("<h2>Artist Results</h2>")
              if(realres.length>5){
              for(i=0; i<5; i++){
              $('#searchres').append("<a href=''><img src="+realres[i]["image"][1]["#text"]+"><b>"+realres[i]["name"]+"</b></a><br>")
              }
            }
            else{
              for(i=0; i<realres.length; i++){
              $('#searchres').append("<a href=''><img src="+realres[i]["image"][1]["#text"]+"><b>"+realres[i]["name"]+"</b></a><br>")
              }
            }
          }
        }
      }),
      $.ajax({
        // AJAX for Track search
        url: "http://ws.audioscrobbler.com/2.0/?method=track.search&track=" + SearchQuery + "&api_key=278be908abb6863ead7c33ceb7899607&format=json",
        method: 'GET',
        success: function (serverResponse2) {
          var realres2 = serverResponse2["results"]["trackmatches"]["track"]
          if(realres2.length>0){
              $('#searchres2').append("<h2>Track Results</h2>")
              if(realres2.length>5){
              for(i=0; i<5; i++){
              $('#searchres2').append("<a href='' class='track'><img src="+realres2[i]["image"][1]["#text"]+"><b>"+realres2[i]["name"]+"</b><cite> -by "+realres2[i]["artist"]+"</cite></a><br>")
              }
            }
            else{
              for(i=0; i<realres2.length; i++){
              $('#searchres2').append("<a href='' class='track'><img src="+realres2[i]["image"][1]["#text"]+"><b>"+realres2[i]["name"]+"</b><cite> -by "+realres2[i]["artist"]+"</cite></a><br>")
              }
            }
          }
        }
      }),
      $.ajax({
        // AJAX for Album search
        url: "http://ws.audioscrobbler.com/2.0/?method=album.search&album=" + SearchQuery + "&api_key=278be908abb6863ead7c33ceb7899607&format=json",
        method: 'GET',
        success: function (serverResponse3) {
          var realres3 = serverResponse3["results"]["albummatches"]["album"]
          if(realres3.length>0){
              $('#searchres3').append("<h2>Album Results</h2>")
              if(realres3.length>5){
              for(i=0; i<5; i++){
              $('#searchres3').append("<a href=''><img src="+realres3[i]["image"][1]["#text"]+"><b>"+realres3[i]["name"]+"</b> <cite>-by "+realres3[i]["artist"]+"</cite></a><br>")
              }
            }
            else{
              for(i=0; i<realres3.length; i++){
              $('#searchres3').append("<a href=''><img src="+realres3[i]["image"][1]["#text"]+"><b>"+realres3[i]["name"]+"</b> <cite>-by "+realres3[i]["artist"]+"</cite></a><br>")
              }
            }
          }
        }
      })

    });
</script>

</html>