<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <title>Spookify Webplayer</title>
  </head>
  <body>
    <div id="wrapper">
        
      <div id="webplayernav" class="nav-fill navbar-transparent" role="tablist" aria-orientation="vertical">
        <ul class="nav nav-pills">
          <a href="webplayer"><img src="~/img/spookify.png" alt="spookify logo" class="nav-link navbar-brand d-inline-block align-top" width="180" height="90"></a>
          <li class="nav-item">
          <a  class="nav-link" data-toggle="pill" href="#search">Search <i class="material-icons">search</i></a>
          </li>
          <hr>
          <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#webhome">Home <i class="material-icons">home</i></a>
          </li>
          <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#yourmusic">Your Music <i class="material-icons">music_note</i></a>
          </li>
          <hr>
          <p class="recently">Recently Played <i class="material-icons">queue_music</i></p>
          <div id="recently">
          
          </div>
        </ul>
        
      </div>
      <a id="user" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        
          <i class="material-icons">account_circle</i>
          <h3>@ViewBag.User.Username</h3>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Account</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
      
        
        <div id="v-pills-playercontent" class="tab-content">
          <!-- Home Page -->
          <div class="tab-pane active container" id="webhome">
              <h2>Top Artist Data</h2>
        <div>
            <p>@ViewBag.firstArtistName</p>
            <p># of Listeners: @ViewBag.listeners</p>
            <p>Playcount: @ViewBag.Playcount</p>
            <p>MBID: @ViewBag.mbid</p>
            <p>URL:  <a href="@ViewBag.URL">Band Page</a></p>
        </div>
          </div>
          <!-- Search Page -->
          <div class="tab-pane container" id="search">
            <h1>Search</h1>
              <form action="SingleAlbumInfo" method="POST" class="ajax_form col-6 form-inline my-2 my-lg-0">

                    <input id="ajax_search" class="form-control mr-sm-2 bg-dark" type="search" placeholder="Search Here!" aria-label="Search" name="search"
                        value="" autocomplete="off">
                        <button id="searchbtn" class="search" type="submit">
                          <i class="material-icons">search</i>
                        </button>
              </form>
              <div id="searchres">

              </div>
            </div>
          <!-- Your Music Page -->
        <div class="tab-pane container" id="yourmusic">
        
</div>
        <div class="navbar-fixed-bottom webplayer">
            <audio id="audio" preload="auto"></audio>
            <div class="btn-group">
                <button onclick="Play('music.mp3','audio');" class="btn btn-custom"><span title="Play" id="play" class="glyphicon icon-play aligned"><i class="material-icons">play_circle_outline</i></span></button>
                <button onclick="Stop('music.mp3','audio');" class="btn btn-custom"><span title="Stop" id="stop" class="glyphicon glyphicon-stop aligned"><i class="material-icons">stop</i></span></button>
                <button onclick="Restart('music.mp3','audio');" class="btn btn-custom"><span title="Restart" id="restart" class="glyphicon glyphicon-step-backward aligned"><i class="material-icons">skip_previous</i></span></button>
                <button onclick="Backward5('music.mp3','audio');" class="btn btn-custom"><span title="-5 seconds" id="play" class="glyphicon glyphicon-fast-backward aligned"><i class="material-icons">fast_rewind</i></span></button>
                <button onclick="Forward5('music.mp3','audio');" class="btn btn-custom"><span title="+5 seconds" id="play" class="glyphicon glyphicon-fast-forward aligned"><i class="material-icons">fast_forward</i></span></button>
                <button onclick="VolumeUp('music.mp3','audio');" class="btn btn-custom"><span title="Volume Up" id="volumeup" class="glyphicon glyphicon-plus aligned"><i class="material-icons">volume_up</i></span></button>
                <button onclick="VolumeDown('music.mp3','audio');" class="btn btn-custom"><span title="Volume Down" id="volumedown" class="glyphicon glyphicon-minus aligned"><i class="material-icons">volume_down</i></span></button>
            </div>
        </div>

    </div>
    
    
  </body>
  <script>
    $('#searchbtn').click(function(e){
       e.preventDefault()
       $.ajax({
            url: 'SingleAlbumInfo',
            method: 'GET',
            data: $('#ajax_search').val(),
            success: function (serverResponse) {
                $('#searchres').html(serverResponse)
            }
        })
    });
</script>
  
</html>