<div id="Playlist">
    <h2><b>Create Playlist</b></h2>

    <h4>Create a New Playlist</h4>
    <form action="CreatePlaylist" method="POST">

        Name: <input type="text" id="playlistName" name="playlistName" placeholder="Name">
        Description: <input type="text" id="playlistDescription" name="playlistDescription" placeholder="Description">
        Image: <input type="text" id="playlistImage" name="playlistImage" placeholder="Image">

        <button>Create Playlist</button>

    </form>

    <br>

    <h4>Create Track</h4>
    <form action="CreateNewTrack" method="POST">

        <button>Create Track</button>


    </form>


    <h4>Add Track to Playlist</h4>
    <form action="AddPlaylistTrack" method="POST">

        <button>Add Track to Playlist</button>


    </form>

    <br>
    <a href="/ViewPlaylistPage/1">Playlist</a>
    <a href="/ViewPlaylistPage/2">Playlist</a>


</div>



<hr style="border: 1px solid grey">
<div id="fullsearch">
    <h2><b>Search Artists, Albums, Tracks, etc. </b></h2>
    <form action="FullSearch" method="GET">
        <input type="text" name="SearchQuery" placeholder="Enter search criteria">
        <button class="btn btn-primary">Search</button>
    </form>
</div>



<hr style="border: 1px solid grey">
<div id="charts">
    <h2><b>Global</b>Top Artist and Track Charts</h2>
        <a href="ViewGlobalCharts">View Global Charts</a>

    <br>
    <h2><b>Geo</b>Top Artist and Track Charts</h2>
        <form action="ViewGeoCharts" method="GET">
            <input type="text" name="GeoSearch" placeholder="Enter Country/Geo">
            <button class="btn btn-primary">View Geo Charts</button>
        </form>

    <br>
</div>


<hr style="border: 1px solid grey">
<br>
<h2>Artist Search</h2>
<div>
    <form action="ArtistGetInfo" method="GET">
        Artist Search: <input type="text", placeholder="Enter Artist Name" labelfor="ArtistSearch" name="ArtistSearch">
        <button name="ArtistSearch" type="submit">Search for Artist</button>
    </form>
</div>

<hr style="border: 1px solid grey">
<br>
<h2>Album Search</h2>
<div>
    <form action="SingleAlbumInfo" method="GET">
        Album Search: <input type="text", placeholder="Enter Album Name" labelfor="albumsearch" name="albumsearch">
        For Artist: <input type="text", placeholder="Enter Artist Name" labelfor="albumartistsearch" name="albumartistsearch">
        <button name="searchalbum" type="submit">Search for Album</button>
    </form>
</div>


<!-- <hr style="border: 1px solid grey">
<br>
<h2>Artist Top Album Search</h2>
<div>
    <form action="ArtistTopAlbum" method="GET">
        Artist to Get Top Albums For: <input type="text", placeholder="Enter Artist Name" labelfor="ArtistSearchName" name="ArtistSearchName">
        <button name="artistTopAlbum" type="submit">Search for Album</button>
    </form>
</div>

<hr style="border: 1px solid grey"> -->

<!-- <h2>Top Artist Data</h2>
<p>Artist Name: @ViewBag.firstArtistName</p>
<p># of Listeners: @ViewBag.listeners</p>
<p>Playcount: @ViewBag.Playcount</p>
<p>MBID: @ViewBag.mbid</p>
<p>URL:  <a href="@ViewBag.URL">Band Page</a></p> -->